div{
    background-color: white;
    margin:25px;
    color:gray;

}
.gray{
    border-radius: 15px;
    border: solid 1px white;
    background-color: gray;
    padding:3px;
    color:white;
    text-align:center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
}
h6{
    border-radius: 15px;
    border: solid 1px white;
    background-color: orange;
    padding:3px;
    color:white;
    text-align:center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;

}
.css-serial{
    counter-reset: serial-number;

}
.css-serial td:first-child:before{
    counter-increment:serial-number;
    content:counter(serial-number);
}