<div>
    <table class="table table row">
    <table CELLPADDING="2" CELLSPACING="200" WIDTH="1300" class="css-serial">
    <thead>
        <th width='50'>Sno</th>
        <th>Name</th>
        <th>Status</th>
        <th>Type</th>
    </thead>

    <tbody *ngFor="let eve of Exevents">
        <tr *ngIf="eve.type=='Exhibition'">
            <td width='50'>&nbsp;</td>
            <td><nav><a [routerLink]="['/eventDetails',eve.name]">{{eve.name}}</a></nav></td>
            <td><h6 [ngClass]="{gray:eve.status=='ended'}">{{eve.status}}</h6></td>
            <td>{{eve.type}}</td>
        </tr>
    </tbody>
</table>
</table>

       
</div>
<router-outlet></router-outlet>
